body {
    font-size: 1.25rem;
    background-color: #f4fcd9;
}

.bg-beige {
    background-color: #f3f2da;
}

.btn-primary {
    background-color: #05595b;
    border-color: #05595b;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #019267;
    border-color: #019267;
}

[v-cloak] {
    display: none;
}